

#bg {
  text-align: center;
}




.container {
  padding: 10px;
}

#bg1 img {
  max-width: 100%; 
  height: auto;
}


#circle {
  height:"10px";
    width:"10px";
    border-radius: "5px";
    background-color: red;
}


#per{
  position: relative;
  bottom:200px;
  z-index: 1;
  font-size: 50px;
}






  

#pregnant-img img {
  max-width: 100%;
  height: auto;
  position: relative;
}



.circle-container img {
  position:relative;
  bottom: 180px;
  right: 40px;
  border-radius: 50%;
  z-index: 1;  

}


/*Result*/



@media only screen and (max-width: 360px) {
  bg img {
    position: relative;
    right: 100px;

  }
  

  

 
  
  }
  
  
  

  




/*input page*/
@media only screen and (max-width: 360px) {
 #text{
  font-size: 10px;
 }

  }


